
@{
    ViewBag.Title = "Page not found";
}

<h2>NotFound</h2>
<center>
    <h1>sorry! we could not find that</h1>
    <img src="/images/404.jpg" />
    <p>If you typed the url in your address bar make sure that it is spelled correctly.</p>
</center>