<article class="hotel">
    <img ng-src="{{$ctrl.hotel.fotoPad}}" alt="{{$ctrl.hotel.Naam}}" />
    <div>
        <h3>{{$ctrl.hotel.Naam}}</h3>
        <hr />
        <p>{{$ctrl.hotel.KorteBeschrijving}}</p>
        <p>
            <i class="fa fa-wheelchair" aria-hidden="true"></i>
            <i class="fa fa-coffee" aria-hidden="true"></i>
            <i class="fa fa-glass" aria-hidden="true"></i>
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <i class="fa fa-paw" aria-hidden="true"></i>
        </p>
        <button ui-sref="hotelDetails" type="button">View details</button>
    </div>
</article>
