<div class="jumbotron">
    <div class="container">
        <h1>Get A Room</h1>
        <p>Get A Room is world's first class hotel-booking service. Find a hotel room in more a selection of more than 1000 hotels all over the globe!</p>
        <img class="img-responsive" src="../images/banner_1.jpg">

        <center>
            <h2>Find a hotel that suits you right now!</h2>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="arrival">Arrival date:</label>
                    <input type="text" class="form-control" id="arrival" placeholder="click to select">
                </div>

                <div class="form-group">
                    <label for="depature">Depature date:</label>
                    <input type="text" class="form-control" id="depature" placeholder="click to select">
                </div>

                <div class="form-group">
                    <label for="adults">Adults</label>

                    <select id="adults" name="adults" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>


                </div>


                <div class="form-group">
                    <label for="children">Children</label>

                    <select id="children" name="children" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>

                </div>
            </form>
        </center>
        <center>
            <br>
            <button type="submit" class="btn btn-lg btn-success">Search</button>
        </center>







    </div>



</div>
