body {
    background-color: lightgrey;
    font-family: 'Lato', sans-serif;
}

#container{
    overflow:hidden;
    width:960px;
    margin:0 auto;
}




#searchform{
    background-color:black;
    bottom:0px;
    position:absolute;
    width:100%;
    height:50px;

}

#searchform form {
    width:600px;
    padding-top:10px;
    margin:0 auto;
}


#searchimg{
    position:relative;

}

#HotelList{
    width:960px;
    margin:0 auto;
}
#HotelList div{
    display: block;
    float:left;
    width:25%   ;
    height:300px;
    margin-left:50px;
    background-color:white;

}
#HotelList img{
    width:100%;
    height:150px;

}


a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}